<div class="row">
    <h1>Retention Tool:</h1>
    <div class="unique-content">
        <textarea class="unique-text"
                  ng-model="retentionModel"
                  ng-change="update()"></textarea>

        <br/>

        <div class="result">
            <span ng-repeat="item in result.conversionsByStep">
                <strong>{{item.name}}:</strong><br/>
                <div class="indent">
                    Count who completed all steps up to this point : {{item.count}} <br/>
                    Retention rate from previous step               : {{item.previousRate}}<br/>
                    Retention rate from first step                 : {{item.totalRate}}
                </div>
                <br/>
            </span>
            <br/>
        </div>
        <br/>
    </div>

</div>

